*/target/*
.settings/
reports/
logs/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.class
*.ctxt
.mtj.tmp/
*.jar
*.har
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
*.html
*.DS_Store
*.py
/.idea/
/target/
/test-output/

.classpath
.project
